*{
    box-sizing: border-box;
    margin-top: 20px;
    
}

img{
    width: 100px;
    height: 100px;
}

h2{
    padding-top: 28px;
}

#btns{
    margin-top: 83px;
}

#btns button{
    margin-bottom: 16px;
}

#btns a {
    text-decoration: none;
}